<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <trust level="High" />
        <globalization culture="" enableClientBasedCulture="false" uiCulture="" />
        <identity impersonate="true" />
        <compilation batch="false" tempDirectory="F:\H _LAN_CHAT\client_1.0" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="2382546858@qq.com" />
        </mailSettings>
    </system.net>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
</configuration>
